.answer {
    visibility: hidden;
}
#bodynamen {
   display: flex;
   flex-direction: row;
    width: 75%;
    padding-bottom: 12px 20px;
    border-bottom: 2px solid black;
    border-radius: 1.5rem;
}

.namen {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
   font-weight: bold;
   
   
}

header {
    background-color: yellow;
    box-shadow: 5px 5px 5px;
}
body {
    background-color: teal;
}
.button {
    padding-top: 20px;
}